<template name="downloads">
    <div class="page-head">
        <h2>Downloads</h2>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Downloads</li>
        </ol>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="title">Documents to downloads</span></div>
                    <div class="panel-body">
                        <p><a href="/report.docx">Report (docx)</a></p>
                        <p><a href="/report.pdf">Report (PDF)</a></p>
                        <p><a href="/presentation.key">Presentation (key)</a></p>
                        <p><a href="/presentation.pdf">Presentation (PDF)</a></p>
                        <p><a href="/evaluationsheet.xls">Evaluation Sheet (XLS)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>