<template name="join">
<div class="panel panel-default panel-heading-fullwidth panel-primary">
    <div class="panel-heading"><span class="title">Join a meeting</span></div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="participantName">Your name</label>
                <input id="participantName" name="participantName" type="text" class="form-control" required>
            </div>

            <div class="spacer text-right">
                <button id="join" type="submit" name="join" class="btn btn-space btn-primary" disabled="disabled">Join</button>
            </div>
        </form>
    </div>
</div>
</template>