<template name="lineup">
  <form class="form-horizontal">
    <fieldset>
        <legend>Line up to talk</legend>
        <div class="control-group">
        <label class="control-label" for="subject">Order : </label>
		<select name="order" id="order" for="order">
		{{#each ordres}}
            {{> selectOrdre}}
        {{/each}}
		</select>
        <label class="control-label" for="keywords">Mots clé</label>
        <div class="controls">
          <input id="subject" maxlength="50" name="subject" type="text" class="input-xlarge">
        </div>
      </div>
        <div class="control-group">
        <label class="control-label" for="time">temps de parole :</label>
        <div class="controls">
          <div id="time">
            <input class="timeButton" type="radio" name="time" value="300" checked>5 minutes
            <input class="timeButton" type="radio" name="time" value="600">10 minutes
            <input class="timeButton" type="radio" name="time" value="plus">plus de 10 minutes
            <input class="timeButton" type="radio" name="time" value="rapide">intervention rapide
          </div>
        </div>
      </div>
        <div class="control-group">
        <div class="controls">
          {{#if hasGuest}}
            <label for="guestList">Line up as</label>
            <ul id="guestList">
		        {{#each guests}}
                {{> guestButton}}
            {{/each}}
            </ul>
          {{else}}
            <button class="btn btn-success lineUp">Line Up</button>
          {{/if}}
          <button id="cancelLineup" name="cancelLineup" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>
</template>

<template name="guestButton">
  <li class="guest">
    <button class="btn btn-success lineUp" user-id="{{_id}}">{{name}}</button>
  </li>
</template>

<template name="selectOrdre">
	<option value="{{this}}">{{this}}</option> 		  
</template>